<h2>New Book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <lavel for="book_title">Title</lavel>
  <%= f.text_field :title %>

  <lavel>Body</lavel>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
